<div class='container d-flex flex-column justify-content-center'>
	{{! filter }}
	<div class='d-flex justify-content-center align-items-center mt-3'>
		<form action='/'>
			<h4 class='mb-2'><label for='filterCategory'>類別</label></h4>
			<div class='input-group'>
				<select class='form-control' id='filterCategory' name='filterCategory'>
					<option {{#is filterCategory '家居物業'}}selected{{/is}}>家居物業</option>
					<option {{#is filterCategory '交通出行'}}selected{{/is}}>交通出行</option>
					<option {{#is filterCategory '休閒娛樂'}}selected{{/is}}>休閒娛樂</option>
					<option {{#is filterCategory '餐飲食品'}}selected{{/is}}>餐飲食品</option>
					<option {{#is filterCategory '其他'}}selected{{/is}}>其他</option>
				</select>
				<button type='submit' class='btn'>類別篩選</button>
			</div>
		</form>
	</div>

	{{! record list }}
	<div class='d-flex justify-content-center'><h2>總支出:
			{{totalAmount}}元</h2></div>
	<table class='table'>
		{{#each record}}
			<tbody>
				<tr class='align-items-center'>
					<td class='col-1 align-middle text-center fs-4'>
						<i class='{{this.categoryId.icon}}'></i>
					</td>
					<td class='col-7 align-middle'>
						<div
							class='d-flex flex-row justify-content-between align-items-center'
						>
							<div>
								<div>{{this.name}}</div>
								<small>{{this.date}}</small>
							</div>
							<div class='fs-5 me-2'>{{this.amount}}</div>
						</div>
					</td>
					<td class='col-1 align-middle text-end'>
						<a href='/records/{{this._id}}/edit'>
							<button type='button' class='btn text-primary'>編輯</button>
						</a>
					</td>
					<td class='col-1 align-middle'>
						<form
							action='/records/{{this._id}}?_method=DELETE'
							method='post'
							style='display: inline;'
						>
							<button type='submit' class='btn text-danger'>刪除</button>
						</form>
					</td>
				</tr>
			</tbody>
		{{/each}}
	</table>

	<a href='/records/new' class='mx-auto btn border-dark'>新增支出</a>

</div>